*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loader-wrap{
    background:rgb(30, 30, 30);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
}

.loader{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

polyline {
    fill: none;
    stroke-width: 5.0;
    stroke-linecap: round;
    stroke: rgba(90, 90, 90, 1.0);
}
svg {
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: visible;
}

.diamond {
    width: 259px;
    max-width: 259px;
    height: 400px;
    max-height: 400px;
    background-color: rgba(30, 30, 30, 0.0);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: rgb(140, 140, 140);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transform: translate(-15px, -15px);
  z-index: 4;
}

.circle0 {
    top: 100.0%;
    left: 50.0%;
}


.circle1 {
    top: 93.75%;
    left: 33.333333333333336%;
}


.circle2 {
    top: 93.75%;
    left: 66.66666666666667%;
}


.circle3 {
    top: 81.25%;
    left: 33.333333333333336%;
}


.circle4 {
    top: 81.25%;
    left: 66.66666666666667%;
}


.circle5 {
    top: 75.0%;
    left: 16.666666666666668%;
}


.circle6 {
    top: 75.0%;
    left: 50.0%;
}


.circle7 {
    top: 75.0%;
    left: 83.33333333333334%;
}


.circle8 {
    top: 62.5%;
    left: 16.666666666666668%;
}


.circle9 {
    top: 62.5%;
    left: 50.0%;
}


.circle10 {
    top: 62.5%;
    left: 83.33333333333334%;
}


.circle11 {
    top: 56.25%;
    left: 0.0%;
}


.circle12 {
    top: 56.25%;
    left: 33.333333333333336%;
}


.circle13 {
    top: 56.25%;
    left: 66.66666666666667%;
}


.circle14 {
    top: 56.25%;
    left: 100.0%;
}


.circle15 {
    top: 43.75%;
    left: 0.0%;
}


.circle16 {
    top: 43.75%;
    left: 33.333333333333336%;
}


.circle17 {
    top: 43.75%;
    left: 66.66666666666667%;
}


.circle18 {
    top: 43.75%;
    left: 100.0%;
}


.circle19 {
    top: 37.5%;
    left: 16.666666666666668%;
}


.circle20 {
    top: 37.5%;
    left: 50.0%;
}


.circle21 {
    top: 37.5%;
    left: 83.33333333333334%;
}


.circle22 {
    top: 25.0%;
    left: 16.666666666666668%;
}


.circle23 {
    top: 25.0%;
    left: 50.0%;
}


.circle24 {
    top: 25.0%;
    left: 83.33333333333334%;
}


.circle25 {
    top: 18.75%;
    left: 33.333333333333336%;
}


.circle26 {
    top: 18.75%;
    left: 66.66666666666667%;
}


.circle27 {
    top: 6.25%;
    left: 33.333333333333336%;
}


.circle28 {
    top: 6.25%;
    left: 66.66666666666667%;
}


.circle29 {
    top: 0.0%;
    left: 50.0%;
}

/* Animations */

/* Circle 9 Moves */
@-webkit-keyframes circle9moves {
    0% {
        top: 62.5%;
        left: 50.0%;
    }
    
    8.333% {
        top: 62.5%;
        left: 50.0%;
    }

    16.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    25% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    33.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    41.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    50% {
        top: 37.5%;
        left: 50.0%;
    }

    58.333% {
        top: 37.5%;
        left: 50.0%;
    }

    66.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    75% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    83.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    91.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    100% {
        top: 62.5%;
        left: 50.0%;
    }
}

@-moz-keyframes circle9moves {
    0% {
        top: 62.5%;
        left: 50.0%;
    }
    
    8.333% {
        top: 62.5%;
        left: 50.0%;
    }

    16.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    25% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    33.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    41.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    50% {
        top: 37.5%;
        left: 50.0%;
    }

    58.333% {
        top: 37.5%;
        left: 50.0%;
    }

    66.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    75% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    83.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    91.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    100% {
        top: 62.5%;
        left: 50.0%;
    }
}

<!-- IE10 -->
@-ms-keyframes circle9moves {
    0% {
        top: 62.5%;
        left: 50.0%;
    }
    
    8.333% {
        top: 62.5%;
        left: 50.0%;
    }

    16.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    25% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    33.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    41.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    50% {
        top: 37.5%;
        left: 50.0%;
    }

    58.333% {
        top: 37.5%;
        left: 50.0%;
    }

    66.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    75% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    83.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    91.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    100% {
        top: 62.5%;
        left: 50.0%;
    }
}

@keyframes circle9moves {
    0% {
        top: 62.5%;
        left: 50.0%;
    }
    
    8.333% {
        top: 62.5%;
        left: 50.0%;
    }

    16.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    25% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    33.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    41.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    50% {
        top: 37.5%;
        left: 50.0%;
    }

    58.333% {
        top: 37.5%;
        left: 50.0%;
    }

    66.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    75% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    83.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    91.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    100% {
        top: 62.5%;
        left: 50.0%;
    }
}

/* Circle 12 Moves */
@-webkit-keyframes circle12moves {
    0% {
        top: 56.25%;
        left: 33.333333333333336%;
    }
    
    8.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    16.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    25% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    33.333% {
        top: 37.5%;
        left: 50.0%;
    }

    41.666% {
        top: 37.5%;
        left: 50.0%;
    }

    50% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    58.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    66.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    75% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    83.333% {
        top: 62.5%;
        left: 50.0%;
    }

    91.666% {
        top: 62.5%;
        left: 50.0%;
    }

    100% {
        top: 56.25%;
        left: 33.333333333333336%;
    }
}

@-moz-keyframes circle12moves {
    0% {
        top: 56.25%;
        left: 33.333333333333336%;
    }
    
    8.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    16.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    25% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    33.333% {
        top: 37.5%;
        left: 50.0%;
    }

    41.666% {
        top: 37.5%;
        left: 50.0%;
    }

    50% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    58.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    66.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    75% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    83.333% {
        top: 62.5%;
        left: 50.0%;
    }

    91.666% {
        top: 62.5%;
        left: 50.0%;
    }

    100% {
        top: 56.25%;
        left: 33.333333333333336%;
    }
}

<!-- IE10 -->
@-ms-keyframes circle12moves {
    0% {
        top: 56.25%;
        left: 33.333333333333336%;
    }
    
    8.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    16.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    25% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    33.333% {
        top: 37.5%;
        left: 50.0%;
    }

    41.666% {
        top: 37.5%;
        left: 50.0%;
    }

    50% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    58.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    66.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    75% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    83.333% {
        top: 62.5%;
        left: 50.0%;
    }

    91.666% {
        top: 62.5%;
        left: 50.0%;
    }

    100% {
        top: 56.25%;
        left: 33.333333333333336%;
    }
}

@keyframes circle12moves {
    0% {
        top: 56.25%;
        left: 33.333333333333336%;
    }
    
    8.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    16.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    25% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    33.333% {
        top: 37.5%;
        left: 50.0%;
    }

    41.666% {
        top: 37.5%;
        left: 50.0%;
    }

    50% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    58.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    66.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    75% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    83.333% {
        top: 62.5%;
        left: 50.0%;
    }

    91.666% {
        top: 62.5%;
        left: 50.0%;
    }

    100% {
        top: 56.25%;
        left: 33.333333333333336%;
    }
}

/* Circle 16 Moves */
@-webkit-keyframes circle16moves {
    0% {
        top: 43.75%;
        left: 33.333333333333336%;
    }
    
    8.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    16.666% {
        top: 37.5%;
        left: 50.0%;
    }

    25% {
        top: 37.5%;
        left: 50.0%;
    }

    33.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    41.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    50% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    58.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    66.666% {
        top: 62.5%;
        left: 50.0%;
    }

    75% {
        top: 62.5%;
        left: 50.0%;
    }

    83.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    91.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    100% {
        top: 43.75%;
        left: 33.333333333333336%;
    }
}

@-moz-keyframes circle16moves {
    0% {
        top: 43.75%;
        left: 33.333333333333336%;
    }
    
    8.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    16.666% {
        top: 37.5%;
        left: 50.0%;
    }

    25% {
        top: 37.5%;
        left: 50.0%;
    }

    33.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    41.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    50% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    58.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    66.666% {
        top: 62.5%;
        left: 50.0%;
    }

    75% {
        top: 62.5%;
        left: 50.0%;
    }

    83.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    91.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    100% {
        top: 43.75%;
        left: 33.333333333333336%;
    }
}

<!-- IE10 -->
@-ms-keyframes circle16moves {
    0% {
        top: 43.75%;
        left: 33.333333333333336%;
    }
    
    8.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    16.666% {
        top: 37.5%;
        left: 50.0%;
    }

    25% {
        top: 37.5%;
        left: 50.0%;
    }

    33.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    41.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    50% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    58.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    66.666% {
        top: 62.5%;
        left: 50.0%;
    }

    75% {
        top: 62.5%;
        left: 50.0%;
    }

    83.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    91.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    100% {
        top: 43.75%;
        left: 33.333333333333336%;
    }
}

@keyframes circle16moves {
    0% {
        top: 43.75%;
        left: 33.333333333333336%;
    }
    
    8.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    16.666% {
        top: 37.5%;
        left: 50.0%;
    }

    25% {
        top: 37.5%;
        left: 50.0%;
    }

    33.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    41.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    50% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    58.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    66.666% {
        top: 62.5%;
        left: 50.0%;
    }

    75% {
        top: 62.5%;
        left: 50.0%;
    }

    83.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    91.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    100% {
        top: 43.75%;
        left: 33.333333333333336%;
    }
}

/* Circle 20 Moves */
@-webkit-keyframes circle20moves {
    0% {
        top: 37.5%;
        left: 50.0%;
    }
    
    8.333% {
        top: 37.5%;
        left: 50.0%;
    }

    16.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    25% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    33.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    41.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    50% {
        top: 62.5%;
        left: 50.0%;
    }

    58.333% {
        top: 62.5%;
        left: 50.0%;
    }

    66.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    75% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    83.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    91.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    100% {
        top: 37.5%;
        left: 50.0%;
    }
}

@-moz-keyframes circle20moves {
    0% {
        top: 37.5%;
        left: 50.0%;
    }
    
    8.333% {
        top: 37.5%;
        left: 50.0%;
    }

    16.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    25% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    33.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    41.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    50% {
        top: 62.5%;
        left: 50.0%;
    }

    58.333% {
        top: 62.5%;
        left: 50.0%;
    }

    66.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    75% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    83.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    91.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    100% {
        top: 37.5%;
        left: 50.0%;
    }
}

<!-- IE10 -->
@-ms-keyframes circle20moves {
    0% {
        top: 37.5%;
        left: 50.0%;
    }
    
    8.333% {
        top: 37.5%;
        left: 50.0%;
    }

    16.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    25% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    33.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    41.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    50% {
        top: 62.5%;
        left: 50.0%;
    }

    58.333% {
        top: 62.5%;
        left: 50.0%;
    }

    66.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    75% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    83.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    91.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    100% {
        top: 37.5%;
        left: 50.0%;
    }
}

@keyframes circle20moves {
    0% {
        top: 37.5%;
        left: 50.0%;
    }
    
    8.333% {
        top: 37.5%;
        left: 50.0%;
    }

    16.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    25% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    33.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    41.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    50% {
        top: 62.5%;
        left: 50.0%;
    }

    58.333% {
        top: 62.5%;
        left: 50.0%;
    }

    66.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    75% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    83.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    91.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    100% {
        top: 37.5%;
        left: 50.0%;
    }
}

/* Circle 17 Moves */
@-webkit-keyframes circle17moves {
    0% {
        top: 43.75%;
        left: 66.66666666666667%;
    }
    
    8.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    16.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    25% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    33.333% {
        top: 62.5%;
        left: 50.0%;
    }

    41.666% {
        top: 62.5%;
        left: 50.0%;
    }

    50% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    58.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    66.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    75% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    83.333% {
        top: 37.5%;
        left: 50.0%;
    }

    91.666% {
        top: 37.5%;
        left: 50.0%;
    }

    100% {
        top: 43.75%;
        left: 66.66666666666667%;
    }
}

@-moz-keyframes circle17moves {
    0% {
        top: 43.75%;
        left: 66.66666666666667%;
    }
    
    8.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    16.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    25% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    33.333% {
        top: 62.5%;
        left: 50.0%;
    }

    41.666% {
        top: 62.5%;
        left: 50.0%;
    }

    50% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    58.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    66.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    75% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    83.333% {
        top: 37.5%;
        left: 50.0%;
    }

    91.666% {
        top: 37.5%;
        left: 50.0%;
    }

    100% {
        top: 43.75%;
        left: 66.66666666666667%;
    }
}

<!-- IE10 -->
@-ms-keyframes circle17moves {
    0% {
        top: 43.75%;
        left: 66.66666666666667%;
    }
    
    8.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    16.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    25% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    33.333% {
        top: 62.5%;
        left: 50.0%;
    }

    41.666% {
        top: 62.5%;
        left: 50.0%;
    }

    50% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    58.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    66.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    75% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    83.333% {
        top: 37.5%;
        left: 50.0%;
    }

    91.666% {
        top: 37.5%;
        left: 50.0%;
    }

    100% {
        top: 43.75%;
        left: 66.66666666666667%;
    }
}

@keyframes circle17moves {
    0% {
        top: 43.75%;
        left: 66.66666666666667%;
    }
    
    8.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    16.666% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    25% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    33.333% {
        top: 62.5%;
        left: 50.0%;
    }

    41.666% {
        top: 62.5%;
        left: 50.0%;
    }

    50% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    58.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    66.666% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    75% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    83.333% {
        top: 37.5%;
        left: 50.0%;
    }

    91.666% {
        top: 37.5%;
        left: 50.0%;
    }

    100% {
        top: 43.75%;
        left: 66.66666666666667%;
    }
}

/* Circle 13 Moves */
@-webkit-keyframes circle13moves {
    0% {
        top: 56.25%;
        left: 66.66666666666667%;
    }
    
    8.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    16.666% {
        top: 62.5%;
        left: 50.0%;
    }

    25% {
        top: 62.5%;
        left: 50.0%;
    }

    33.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    41.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    50% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    58.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    66.666% {
        top: 37.5%;
        left: 50.0%;
    }

    75% {
        top: 37.5%;
        left: 50.0%;
    }

    83.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    91.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    100% {
        top: 56.25%;
        left: 66.66666666666667%;
    }
}

@-moz-keyframes circle13moves {
    0% {
        top: 56.25%;
        left: 66.66666666666667%;
    }
    
    8.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    16.666% {
        top: 62.5%;
        left: 50.0%;
    }

    25% {
        top: 62.5%;
        left: 50.0%;
    }

    33.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    41.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    50% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    58.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    66.666% {
        top: 37.5%;
        left: 50.0%;
    }

    75% {
        top: 37.5%;
        left: 50.0%;
    }

    83.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    91.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    100% {
        top: 56.25%;
        left: 66.66666666666667%;
    }
}

<!-- IE10 -->
@-ms-keyframes circle13moves {
    0% {
        top: 56.25%;
        left: 66.66666666666667%;
    }
    
    8.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    16.666% {
        top: 62.5%;
        left: 50.0%;
    }

    25% {
        top: 62.5%;
        left: 50.0%;
    }

    33.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    41.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    50% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    58.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    66.666% {
        top: 37.5%;
        left: 50.0%;
    }

    75% {
        top: 37.5%;
        left: 50.0%;
    }

    83.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    91.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    100% {
        top: 56.25%;
        left: 66.66666666666667%;
    }
}

@keyframes circle13moves {
    0% {
        top: 56.25%;
        left: 66.66666666666667%;
    }
    
    8.333% {
        top: 56.25%;
        left: 66.66666666666667%;
    }

    16.666% {
        top: 62.5%;
        left: 50.0%;
    }

    25% {
        top: 62.5%;
        left: 50.0%;
    }

    33.333% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    41.666% {
        top: 56.25%;
        left: 33.333333333333336%;
    }

    50% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    58.333% {
        top: 43.75%;
        left: 33.333333333333336%;
    }

    66.666% {
        top: 37.5%;
        left: 50.0%;
    }

    75% {
        top: 37.5%;
        left: 50.0%;
    }

    83.333% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    91.666% {
        top: 43.75%;
        left: 66.66666666666667%;
    }

    100% {
        top: 56.25%;
        left: 66.66666666666667%;
    }
}

.circle9animations {
    -webkit-animation: circle9moves 3.6s infinite linear;
    -moz-animation: circle9moves 3.6s infinite linear;
    -ms-animation: circle9moves 3.6s infinite linear;
    animation: circle9moves 3.6s infinite linear;
}

.circle12animations {
    -webkit-animation: circle12moves 3.6s infinite linear;
    -moz-animation: circle12moves 3.6s infinite linear;
    -ms-animation: circle12moves 3.6s infinite linear;
    animation: circle12moves 3.6s infinite linear;
}

.circle16animations {
    -webkit-animation: circle16moves 3.6s infinite linear;
    -moz-animation: circle16moves 3.6s infinite linear;
    -ms-animation: circle16moves 3.6s infinite linear;
    animation: circle16moves 3.6s infinite linear;
}

.circle20animations {
    -webkit-animation: circle20moves 3.6s infinite linear;
    -moz-animation: circle20moves 3.6s infinite linear;
    -ms-animation: circle20moves 3.6s infinite linear;
    animation: circle20moves 3.6s infinite linear;
}

.circle17animations {
    -webkit-animation: circle17moves 3.6s infinite linear;
    -moz-animation: circle17moves 3.6s infinite linear;
    -ms-animation: circle17moves 3.6s infinite linear;
    animation: circle17moves 3.6s infinite linear;
}

.circle13animations {
    -webkit-animation: circle13moves 3.6s infinite linear;
    -moz-animation: circle13moves 3.6s infinite linear;
    -ms-animation: circle13moves 3.6s infinite linear;
    animation: circle13moves 3.6s infinite linear;
}

.letterRowText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 120px;
    position: absolute;
    bottom: calc(50% - 300px);
    display: inline-block;
    transform: translate(-50%, 0);
    left: 50%;
}

.loadingText {
    display: inline-block;
    min-width: 10px;
    color: rgba(255, 255, 255, 0.1);
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}
