body {
  background-color: rgb(30, 30, 30);
}

h1, h2, h3, h4, h5, h6, p {
  color: rgb(140, 140, 140);
  font-family:Helvetica, sans-serif;
}

.icon-image {
  border-radius: 8px;
  width: 100%;
}

.title-image {
  width: 80%;
}

.header-image {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.appstore-logo {
  width: 40%;
}

.social-icon {
  width: 60%;
}

@media(max-width: 767px) {
    .social-icon {
        width: 90%;
    }
}

.darker-background {
    background-color: rgb(20, 20, 20);
}

.darker-navbar {
    background-color: #111111;
}

.modes-3 {
    width: 76%;
}

.gameRow {
    padding-top: 20px;
}

@media(max-width: 767px) {
    .modes-3 {
        width: 100%;
    }
}

.modes-4 {
    width: 100%;
}

.mockupContainer {
    position: relative;
    width: 100%;
}

.mockup1 {
    width: 100%;
    z-index: 5;
}

.mockup2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    opacity: 0.0;
}

.nav-title-icon {
    width: 30px;
    height: 30px;
}

@media(max-width: 767px) {
    .nav-title-text {
        font-size: 1.1rem;
    }

    .nav-title-icon2 {
        width: 25px;
        height: 25px;
    }

    .nav-title-middle {
        vertical-align: middle;
    }
}

.gameText {
    font-size: 25px;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

@media(min-width: 1750px) {
    .gameText {
        font-size: 30px;
    }
}

@media(min-width: 1450px) and (max-width: 1750px) {
    .gameText {
        font-size: 25px;
    }
}

@media(min-width: 1200px) and (max-width: 1450px) {
    .gameText {
        font-size: 20px;
    }
}

@media(min-width: 900px) and (max-width: 1200px) {
    .gameText {
        font-size: 15px;
    }
}

@media(max-width: 900px) {
    .gameText {
        font-size: 13px;
    }
}

/* Animations */
@-webkit-keyframes mockupFade {
    0% {
        opacity: 0.0;
    }

    45% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    95% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

@-moz-keyframes mockupFade {
    0% {
        opacity: 0.0;
    }

    45% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    95% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

<!-- IE10 -->
@-ms-keyframes mockupFade {
    0% {
        opacity: 0.0;
    }

    45% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    95% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

@keyframes mockupFade {
    0% {
        opacity: 0.0;
    }

    45% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    95% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

.mockupFadeAnimations {
    -webkit-animation: mockupFade 7.0s infinite linear;
    -moz-animation: mockupFade 7.0s infinite linear;
    -ms-animation: mockupFade 7.0s infinite linear;
    animation: mockupFade 7.0s infinite linear;
}

.topSpace {
    min-height: 48px;
}

.directionsGap {
    min-height: 56px;
}

.topDirectionsSpace {
    min-height: 48px;
}

@media(max-width: 767px) {
    .topSpace {
        min-height: 35px;
    }

    .hide-on-mobile {
        display: none;
    }

    .directionsGap {
        min-height: 24px;
    }

    .topDirectionsSpace {
        min-height: 24px;
    }
}

.removeSection {
    display: none;
}

.hideSection {
    opacity: 0;
}

.directionsImage {
    width:100%;
}

.directionsTitle {
    width:75%;
}

/* Animations */
@-webkit-keyframes pageAppear {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-moz-keyframes pageAppear {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

<!-- IE10 -->
@-ms-keyframes pageAppear {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes pageAppear {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.pageAppearAnimations {
    -webkit-animation: pageAppear 0.5s forwards linear;
    -moz-animation: pageAppear 0.5s forwards linear;
    -ms-animation: pageAppear 0.5s forwards linear;
    animation: pageAppear 0.5s forwards linear;
}

.directionsButton {
    font-size: 25px;
    opacity: 0.8;
}

@media(min-width: 1450px) and (max-width: 1750px) {
    .directionsButton {
        font-size: 23px;
    }
}

@media(min-width: 1200px) and (max-width: 1450px) {
    .directionsButton {
        font-size: 20px;
    }
}

@media(min-width: 900px) and (max-width: 1200px) {
    .directionsButton {
        font-size: 15px;
    }
}

@media(max-width: 900px) {
    .directionsButton {
        font-size: 14px;
    }
}

.galleryImage {
    width:100%;
}
